@use 'sass:math';

@import './mixins/function.scss';

/* 前缀 */
$prefix: 'tt';

// ========== 静态变量 ==========

/* Transition */
// 线性
$--transition-timing-function-linear: cubic-bezier(0, 0, 1, 1);
// 标准
$--transition-timing-function-standard: cubic-bezier(0.34, 0.69, 0.1, 1);
// 过冲
$--transition-timing-function-overshoot: cubic-bezier(0.3, 1.3, 0.3, 1);
// 减速
$--transition-timing-function-decelerate: cubic-bezier(0.4, 0.8, 0.74, 1);
// 加速
$--transition-timing-function-accelerate: cubic-bezier(0.26, 0, 0.6, 0.2);

/* Animation */
$--animation-duration-slow: 300ms;
$--animation-ease-in-out-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);

/* 颜色 */
$--color-primary: #409eff !default;
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--color-success: #67c23a !default;
$--color-danger: #f56c6c !default;
$--color-warning: #e6a23c !default;
$--color-info: #909399 !default;

$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #c0c4cc !default;

$--border-color-base: #dcdfe6 !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

/* Size */
$--font-size-base: 14px !default;

/* BorderRadius */
/// borderRadius|1|Radius|0
$--border-radius-base: 4px !default;
/// borderRadius|1|Radius|0
$--border-radius-small: 2px !default;
/// borderRadius|1|Radius|0
$--border-radius-circle: 100% !default;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0 !default;

// ========== 静态变量 ==========

// ========== 动态变量（大多为颜色相关的变量） ==========

/// color|1|Brand Color|0
$tt-color-primary: getCssVarWithDefault(
  '--tt-color-primary',
  $--color-primary
) !default;
/// color|1|Background Color|4
$tt-color-white: getCssVarWithDefault(
  '--tt-color-white',
  $--color-white
) !default;
/// color|1|Background Color|4
$tt-color-black: getCssVarWithDefault(
  '--tt-color-black',
  $--color-black
) !default;

$tt-color-primary-light-1: getCssVarWithDefault(
  '--tt-color-primary-light-1',
  mix($--color-white, $--color-primary, 10%)
) !default;
$tt-color-primary-light-2: getCssVarWithDefault(
  '--tt-color-primary-light-2',
  mix($--color-white, $--color-primary, 20%)
) !default;
$tt-color-primary-light-3: getCssVarWithDefault(
  '--tt-color-primary-light-3',
  mix($--color-white, $--color-primary, 30%)
) !default;
$tt-color-primary-light-4: getCssVarWithDefault(
  '--tt-color-primary-light-4',
  mix($--color-white, $--color-primary, 40%)
) !default;
$tt-color-primary-light-5: getCssVarWithDefault(
  '--tt-color-primary-light-5',
  mix($--color-white, $--color-primary, 50%)
) !default;

/// color|1|Functional Color|1
$tt-color-success: getCssVarWithDefault(
  '--tt-color-success',
  $--color-success
) !default;
/// color|1|Functional Color|1
$tt-color-warning: getCssVarWithDefault(
  '--tt-color-warning',
  $--color-warning
) !default;
/// color|1|Functional Color|1
$tt-color-danger: getCssVarWithDefault(
  '--tt-color-danger',
  $--color-danger
) !default;
/// color|1|Functional Color|1
$tt-color-info: getCssVarWithDefault('--tt-color-info', $--color-info) !default;

/* Button */
/// color||Color|0
$tt-button-primary-border-color: $tt-color-primary !default;
/// color||Color|0
$tt-button-primary-font-color: $tt-color-white !default;
/// color||Color|0
$tt-button-primary-background-color: $tt-color-primary !default;
/// color||Color|0
$tt-button-success-border-color: $tt-color-success !default;
/// color||Color|0
$tt-button-success-font-color: $tt-color-white !default;
/// color||Color|0
$tt-button-success-background-color: $tt-color-success !default;
/// color||Color|0
$tt-button-warning-border-color: $tt-color-warning !default;
/// color||Color|0
$tt-button-warning-font-color: $tt-color-white !default;
/// color||Color|0
$tt-button-warning-background-color: $tt-color-warning !default;
/// color||Color|0
$tt-button-danger-border-color: $tt-color-danger !default;
/// color||Color|0
$tt-button-danger-font-color: $tt-color-white !default;
/// color||Color|0
$tt-button-danger-background-color: $tt-color-danger !default;
/// color||Color|0
$tt-button-info-border-color: $tt-color-info !default;
/// color||Color|0
$tt-button-info-font-color: $tt-color-white !default;
/// color||Color|0
$tt-button-info-background-color: $tt-color-info !default;

// ========== 动态变量（大多为颜色相关的变量） ==========
